<mat-card id='username'>
  <mat-card-title>Welcome, {{ username$ | async }}!</mat-card-title>
</mat-card>

<mat-divider></mat-divider>

<div id='lists'>

  <mat-card class='list'>
    <mat-card-title>Beers of Interest</mat-card-title>
    <mat-action-list>
      <button mat-list-item *ngFor="let beer of userInterests$ | async | slice:0:5; let i=index" (click)='goToBeer(beer.id)'>
        <div mat-line>{{beer.name}}</div>
        <div mat-line class='brewery'>{{beer.brewery}}</div>
      </button>
    </mat-action-list>
    <button mat-raised-button color='primary' (click)='goToInterests()'>View All</button>
  </mat-card>
  
  <mat-card class='list' >
    <mat-card-title>Reviewed Beers</mat-card-title>
    <mat-action-list>
      <button mat-list-item *ngFor="let review of userReviews$ | async | slice:-5; let i=index" (click)='goToBeer(review.beer.id)'>
        <div mat-line>{{review.beer.name}}</div>
        <div mat-line class='brewery'>Rating: {{review.rating}}</div>
      </button>
    </mat-action-list>
    <button mat-raised-button color='primary' (click)='goToReviews()'>View All</button>
  </mat-card>
  
</div>
