<div id="search-component">
    <label for="filter">Brewery Search</label>
    <input #filterInput id="filter" (input)="filter(filterInput.value)" />
</div>

<button (click)='goToAddBrewery()'>Add a Brewery</button>
<router-outlet></router-outlet>

<h1 *ngIf='breweriesLoading$ | async'>Loading...</h1>

<ul class='breweries'>

    <li *ngFor="let brewery of breweries$ | async">
        <!-- <a routerLink='/detail/{{beer.id}}'> -->
        <span class='badge'>{{ brewery.id }}</span> {{ brewery.name }}
        <!-- </a> -->
        <button (click)='logBrewery(brewery)'>Log Brewery</button>
    </li>

</ul>


