
#landing-card {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(103,58,183,.15);
}

#landing-nav {
    display:flex;
    justify-content: center;
}
.button {
    margin: 8px 8px 8px 0;
}

@media screen and (max-width: 830px) {
    #landing-card {
        margin-left: 5%;
        margin-right: 5%;
    }
}