<mat-card id='main'>
    <mat-card-title>Review a Beer</mat-card-title>
    <div>
        <mat-form-field id='beer-input' appearance="fill">
            <mat-label>Select a Beer</mat-label>
            <input matInput
                  #filterInput
                   [matAutocomplete]="auto"
                   (input)="filter(filterInput.value)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let beer of beers$ | async" [value]="beer.name">
                <!-- <img class="" aria-hidden [src]="beer.img" height="25">  -->
                <span>{{beer.name}}</span> | 
                <small class='brewery-name'>{{beer.brewery.name}}</small>
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-label class='rating'>Rating: </mat-label>
        <button mat-icon-button inline='true' *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)">
          <mat-icon>
              {{showIcon(i)}}
          </mat-icon>
        </button>

        <p class="rating">
            Your rated <span>{{rating}}</span> / <span>5</span>
        </p>

        <mat-form-field id='note' appearance="outline" color='primary'>
          <mat-label>Note</mat-label>
          <textarea matInput [(ngModel)]="note"></textarea>
        </mat-form-field>

        <br>

        <button mat-raised-button color='primary'>Submit Review</button>
    </div>

</mat-card>
