<mat-card id='title'>
    <mat-card-title>Breweries</mat-card-title>
</mat-card>
  
<mat-divider></mat-divider>

<div id='search-sort-filter'>

    <mat-form-field id="input" appearance="outline">
        <mat-label>Brewery Search</mat-label>
        <input matInput #filterInput id="filter" (input)="filter(filterInput.value)" />
    </mat-form-field>

    <div id='buttons'>
        <button mat-icon-button disabled (click)='sortList()'><mat-icon>sort_by_alpha</mat-icon></button>
        <button mat-icon-button disabled (click)='filterList()'><mat-icon>filter_list</mat-icon></button>
        <button mat-icon-button color='primary' (click)='goToAddBrewery()'><mat-icon>add_circle_outline</mat-icon></button>
    </div>

</div>

<mat-divider></mat-divider>

<h1 *ngIf='breweriesLoading$ | async'>Loading...</h1>

<div id='list'>
    <mat-action-list>
      <button mat-list-item class='brewery' *ngFor="let brewery of breweries$ | async | slice:0:25; let i=index" (click)='goToBrewery(brewery.id)'>
        <div mat-line>{{brewery.name}}  <span class='location'>{{brewery.city}}, {{brewery.state}}</span></div>
      </button>
    </mat-action-list>
  </div>

<!-- <ul class='breweries'>

    <li *ngFor="let brewery of breweries$ | async" (click)='goToBrewery(brewery.id)'>
        
            <span class='badge'>{{ brewery.id }}</span> {{ brewery.name }}
        
    </li>

</ul> -->


