<mat-card id='title'>
    <mat-card-title>Breweries</mat-card-title>
</mat-card>
  
<mat-divider></mat-divider>

<div id=''>

    <mat-form-field class="input" appearance="outline">
        <mat-label>Brewery Search</mat-label>
        <input matInput #filterInput id="filter" (input)="filter(filterInput.value)" />
    </mat-form-field>


    <button (click)='goToAddBrewery()'>Add a Brewery</button>

</div>

<mat-divider></mat-divider>

<h1 *ngIf='breweriesLoading$ | async'>Loading...</h1>

<ul class='breweries'>

    <li *ngFor="let brewery of breweries$ | async" (click)='goToBrewery(brewery.id)'>
        
            <span class='badge'>{{ brewery.id }}</span> {{ brewery.name }}
        
    </li>

</ul>


