<div>
    <p class="error" *ngIf="errorMessage$ | async">{{ errorMessage$ | async }}</p>

    <label for="name" >Brewery Name: </label>
    <input id="name" placeholder="Name" [(ngModel)]="name">
    
    <p>Address:</p>
    <label for="street" >Street: </label>
    <input id="street" placeholder="Street" [(ngModel)]="street">
    
    <label for="city" >City: </label>
    <input id="city" placeholder="City" [(ngModel)]="city">
    
    <label for="state" >State: </label>
    <input id="state" placeholder="State" [(ngModel)]="state">
    
    <label for="postalCode" >Postal Code: </label>
    <input id="postalCode" placeholder="Postal Code" [(ngModel)]="postalCode">

    <label for="country" >Country: </label>
    <input id="country" placeholder="Country" [(ngModel)]="country">

    <label for="longitude" >Longitude: </label>
    <input id="longitude" placeholder="Longitude" [(ngModel)]="longitude">

    <label for="latitude" >Latitude: </label>
    <input id="latitude" placeholder="Latitude" [(ngModel)]="latitude">

    <label for="phone" >Phone: </label>
    <input id="phone" type='tel' placeholder="Phone" [(ngModel)]="phone">

    <label for="url" >Website URL: </label>
    <input id="url" type='url' placeholder="Website URL" [(ngModel)]="url">
    
    <button (click)="addBrewery()">Add</button>
</div>

