<div>
    <p class="error" *ngIf="usernameErrorMessage$ | async">{{ usernameErrorMessage$ }}</p>
    <p class="error" *ngIf="passwordErrorMessage$ | async">{{ passwordErrorMessage$ }}</p>
    <label for="username" >Username: </label>
    <input id="username" placeholder="Username" [(ngModel)]="username">
    <label for="password">Password: </label>
    <input id="password" type="password" placeholder="Password" [(ngModel)]="password">
    <button (click)="signUp()">Sign Up</button>
    <p>Already signed up?</p>
    <a routerLink='/login'>Go to Log In</a>
</div>
