<mat-card id='title'>
  <mat-card-title>Beers</mat-card-title>
</mat-card>

<mat-divider></mat-divider>

<div id='search-sort-filter'>
  
  <mat-form-field id="input" appearance="outline">
    <mat-label>Beer Search</mat-label>
    <input matInput #filterInput id="filter" (input)="filter(filterInput.value)" />
  </mat-form-field>
  
  <div id='buttons'>
    <button mat-icon-button (click)='sortList()'><mat-icon color='primary'>sort_by_alpha</mat-icon></button>
    <button mat-icon-button (click)='filterList()'><mat-icon color='primary'>filter_list</mat-icon></button>
    <button mat-icon-button (click)='goToAddBeer()'><mat-icon color='primary'>add_circle_outline</mat-icon></button>
  </div>
  
</div>

<mat-divider></mat-divider>

<mat-spinner id='spinner' *ngIf='beersLoading$ | async'></mat-spinner>

<div id='list'>
  <mat-action-list>
    <button mat-list-item class='beer' *ngFor="let beer of beers$ | async | slice:startIndex:startIndex + 20; let i=index" (click)='goToBeer(beer.id)'>
      <div mat-line>{{beer.name}}  <span class='brewery'>{{beer.brewery.name}}</span></div>
    </button>
  </mat-action-list>
</div>

<mat-divider></mat-divider>

<div id='list-controls'>

  <button mat-icon-button disabled='{{startIndex == 0}}' color="primary" (click)='first()'>
    <mat-icon>first_page</mat-icon>
  </button>

  <button mat-icon-button disabled='{{startIndex == 0}}' color="primary" (click)='previous()'>
    <mat-icon>navigate_before</mat-icon>
  </button>

  <div>{{beersLength() > 0 ? startIndex + 1 : 0}} - {{startIndex + 20 > beersLength() ? beersLength() : startIndex + 20 }} of {{beersLength()}}</div>

  <button mat-icon-button disabled='{{startIndex + 20 >= beersLength()}}' color="primary" (click)='next()'>
    <mat-icon>navigate_next</mat-icon>
  </button>

  <button mat-icon-button disabled='{{startIndex + 20 >= beersLength()}}' color="primary" (click)='last()'>
    <mat-icon>last_page</mat-icon>
  </button>
  
</div>